:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.input {
     position: relative;
}

div.input label {
  left: 10px;
  /* height: 5px; */
  background: white;
  padding: 5px 2px;
}

div.input input {
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}

div.input {
    margin-top:20px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
